<div class="parent">
    <div class="top">
        <h1>Flipkart</h1>
    </div>
    <div class="body">
        <div class="left">
        <input type="text" [(ngModel)]="term" (keyup)="filter()" placeholder="search">
        <button (click)="ofd()">only free delivery</button>
        <br>
        <button (click)="plh()">price low to high</button>
        <button (click)="phl()">price high to low</button>
        <button (click)="rlh()">rating low to high</button>
        <button (click)="rhl()">rating highto low</button>
        <br>
        <button (click)="aod()">apply 50% discount</button>
        <button (click)="pwd()">price with delivery charges</button>
        <br>
        <button (click)="tp()">total price</button>
        <button (click)="tci()">total cart items</button>
        </div>

        <div class="right">
            <label for="">name:</label>
            <input type="text" name="" id=""><br>
            <label for="">price:</label>
            <input type="number" name="" id=""><br>
            <label for="">rating:</label>
            <input type="number" name="" id=""><br>
            <label for="">free delivery</label>
            <input type="radio" name="" id="">
            <label for="">yes</label>
            <input type="radio" name="" id="">
            <label for="">no</label>
            <button>add to cart</button>
        </div>
    </div>
    <div class="bottom">
        <table>
            <thead>
                <tr>
                    <th>s.no</th>
                    <th>product name</th>
                    <th>price</th>
                    <th>rating</th>
                    <th>free delivery</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products, let i=index ">
                    <td>{{i+1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.rating}}</td>
                    <td>{{product.freedelivery}}</td>
                    <td>
                        <button (click)="delete(i)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

</div>
