<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <a routerLink="home">Home</a>
        <a routerLink="welcome">Welcome</a>
        <a routerLink="vehicles">vehicles</a>
        <a routerLink="account">account</a>
        <a routerLink="flipkart">flipkart</a>
        <a routerLink="filpkartpage">filpkartpage</a>
        <a routerLink="mail">mail</a> 
        <a routerLink="create-vehicle">Create-Vehicle</a>
        <a routerLink="create-account">create-account</a>
        <a routerLink="student_id_card">student_id_card</a>
        <a routerLink="view-vehicle">view-vehicle</a>
        <a routerLink="create-user">create-user</a>
        <a routerLink="studentdetails">studentdetails</a>
        <a routerLink="parent">parent</a>
        <a routerLink="calcultor">calcultor</a>
        <a routerLink="sibling">sibling</a>
        <a routerLink="amazon">amazon</a>
        <a routerLink="todo">todo</a>
        <a routerLink="about-company">about-company</a>
        <hr>
        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
  